<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AlbionStatus - Albion Online server status tracker</title>
  <meta name="description" content="AlbionStatus is the first reliable Albion Online server status tracker">

  <meta property=og:title content="AlbionStatus - Albion Online server status tracker">
  <meta property=og:description
        content="AlbionStatus is the first reliable Albion Online server status tracker">
  <meta property=og:type content="website">
  <meta property=og:url content="https://albionstatus.com">
  <meta property=og:image content="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/android-icon-192x192.png">


  <link rel="icon" type="image/png" sizes="96x96"
        href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="32x32"
        href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16"
        href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/favicon-16x16.png">
  <!--[if IE]>
  <link rel="shortcut icon" href="/static/img/icons/favicon.ico"><![endif]-->
  <!-- Add to home screen for Android and modern mobile browsers -->
  <link rel="manifest" href="<%= htmlWebpackPlugin.files.publicPath %>static/manifest.json">
  <meta name="theme-color" content="#4DBA87">

  <!-- Add to home screen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="AlbionStatus">
  <link rel="apple-touch-icon"
        href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/apple-icon-152x152.png">
  <!-- Add to home screen for Windows -->
  <meta name="msapplication-TileImage"
        content="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/ms-icon-144x144.png">
  <meta name="msapplication-TileColor" content="#000000">
  <% for (var chunk of webpack.chunks) {
  for (var file of chunk.files) {
  if (file.match(/\.(js|css)$/)) { %>
  <link rel="<%= chunk.initial?'preload':'prefetch' %>" href="<%= htmlWebpackPlugin.files.publicPath + file %>"
        as="<%= file.match(/\.css$/)?'style':'script' %>">
  <% }}} %>
</head>
<body>
<noscript>
  Please enable JavaScript to access this website!
</noscript>
<div id="app"></div>
<!-- Todo: only include in production -->
<%= htmlWebpackPlugin.options.serviceWorkerLoader %>
<!-- built files will be auto injected -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</body>
</html>
