.footer {
  background-color: #f9f9f9;
  font-size: $font-size-small;
  border-top: 1px solid #A0EA6E;
}

#footer-info {
  @extend .col-md-4, .text-center;
  padding: 10px 0;
  line-height: $line-height-large*1.3;
}