.logo {
  margin-top: 20px;
  display: inline;
}

.twitter-bot-row {
  @extend .col-md-8, .col-md-offset-2, .text-center;
  margin-bottom: 50px;
}

.row-valign {
  @extend .row;
  display: flex;
  align-items: center;
}

//Text helper
.text-underline {
  text-decoration: underline;
}

.text-clickable {
  cursor: pointer;
}

.no-link {
  text-decoration: none;
  color: inherit;

  &:hover {
    color: #737373;
    text-decoration: none;
  }
}

.twitter-icon {
  color: #1da1f2;
  &:hover {
    color: lighten(#1da1f2, 10%);
  }
}